#about{
    width: 100%;
    height: 100vh;
    background-color: rgb(196,230,230);
    position: absolute;
    top: 0px; 
    display: flex;
}
.about-background{

    margin: auto;  
    text-align: center;
    width: 640px;
    height: 350px;
    position: absolute;
    z-index: 4;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(136,204,205);
}
.about-text{
    text-align: center;
    color: white;
}
#about-x{
    margin: 45px 0px 45px 0px;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
}
#about-x:hover{
    animation-name: flash;
    animation-duration: .2s;
}
@keyframes flash{
    0%{
        color: white;
    }
    40%{
        color: rgb(136,204,205);
    }
    60%{
        color: rgb(136,204,205);
    }
    100%{
        color: white;
    }
}
.about-text p{
    font-size: 20px;
    margin-bottom: 20px;
}
.about-text p span{
    border-bottom: 1px dashed white;
}
.about-text p span:hover{
    animation-name: flash;
    animation-duration: .2s;
}
a{
    text-decoration: none;
    color: white;
    border-bottom: 1px dashed white;
}
a:hover{
    animation-name: flash;
    animation-duration: .2s;
}